@page "/lights"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDbContextFactory<UsersContext> DbContextFactory

<PageTitle>Lights</PageTitle>
<h1 class="px-2">Lights</h1>

<div class="px-2 pt-4 pb-2">
    <div class="input-group">
        <select class="form-select" @onchange="@Login">
            @if (error <= -4 && error >= -5)
            {
                if (error == -4)
                {
                    <option disabled selected>No API keys found, please add one through your profile.</option>
                }
                else if (error == -5)
                {
                    <option disabled selected>There has been an error retrieving API keys, please try again shortly.</option>
                }
            }
            else
            {
                @if (users.Count != 0)
                {
                    <option disabled selected>Select API key</option>

                    @foreach (User user in users)
                    {
                        <option value="@user.ApiKey">@user.ApiKey</option>
                    }
                }
                else
                {
                    <option disabled selected>Loading API keys...</option>

                }
            }
        </select>
    </div>
</div>

<div class="pt-2 pb-4">
    @if (error <= -1 && error >= -3)
    {
        if (error == -1)
        {
            <p class="px-2 text-danger">There has been an error logging in, please check your API key.</p>
        }
        else if (error == -2)
        {
            <p class="px-2 text-danger">There has been an error performing an action, please try again shortly.</p>
        }
        else if (error == -3)
        {
            <p class="px-2 text-danger">No devices found.</p>
        }
    }
    else if (!loading)
    {
        <p class="px-2">Enter your API key to get started.</p>
    }
    else if (devices.Count == 0 && loading)
    {
        <p class="px-2"><em>Loading devices...</em></p>
    }
    else
    {
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Online</th>
                        <th>State</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var device in devices)
                    {
                        @if (device.Data != null)
                        {
                            <tr>
                                <td>@device.Data.Name</td>

                                @if (@device.State?.Data?.Properties?.First(p => p.Online != null)?.Online?.ToString()?.ToLower() == "true")
                                {
                                    <td class="text-success">Online</td>
                                }
                                else
                                {
                                    <td class="text-danger">Offline</td>
                                }

                                @if (@device.State?.Data?.Properties?.First(p => p.Online != null)?.Online?.ToString()?.ToLower() == "true" && device.State?.Data?.Properties?.First(p => p.PowerState != null)?.PowerState == "on")
                                {
                                    <td class="text-success">On</td>
                                }
                                else
                                {
                                    <td class="text-danger">Off</td>
                                }

                                <td>
                                    <button class="btn btn-primary" @onclick="() => On(device.Data)">On</button>
                                    <button class="btn btn-primary" @onclick="() => Off(device.Data)">Off</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
</div>
